.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px 90px;
  background: rgb(168, 195, 221);
  border-radius: 10px;
  color: #2a80d1;
  box-shadow: 0 0 15px #ccc;
  text-align: center;
}

.container p{
  text-align: center;
}

