.container {
  max-width: 700px;
  display: flex;
  margin: 40px auto;
  padding: 30px 90px;
  background:#f0f8ff;
  border-radius: 10px;
  color: #007bff;
  box-shadow: 0 0 15px #ccc;
  text-align: center;
}

.container p{
  text-align: center;
}

