/* Garante que a aplicação ocupe toda a altura da tela */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout em coluna: header, main (cresce), footer */
body {
 
  min-height: 100vh; /* altura total da tela */
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

main {
  padding-top: 60px; /* igual à altura do header fixo */
  flex: 1 0 auto;
  background: white;
  margin: 0;
  border-radius: 10px;
  box-sizing: border-box;
}


.login-container {
  background-color: #f8f9fa;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  color: #003366;
}

footer {
  flex-shrink: 0; /* evita encolher */
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 15px 10px;
}
